@page
@model Shop_Online.Pages.Product.CreateModel
@{
    Layout = null;
}
<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <span class="modal-close">
            X
        </span>
        <div class="modal-main">
            <h1 class="form-heading">Add new product</h1>
            <form method="Post" asp-page="Create" class="form-submit">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="Product.Name">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="text" name="Product.Image">
                </div>
                <div class="form-group">
                    <label>Desciption</label>
                    <input type="text" name="Product.Desc">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" min="0" name="Product.Price">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select name="Product.Cid">
                        @foreach (var item in Model.categories)
                        {
                        <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <Button>Save</Button>
                </div>
            </form>
        </div>
    </div>
</div>