@page
@model Shop_Online.Pages.Product.DeleteModel
@{
    Layout = null;
}
<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content" style="width: 400px;">
        <span class="modal-close">
            X
        </span>
        <div class="modal-main">
            <h1 class="form-heading" style="font-size: 18px;">Do you want to delete <span style="color: tomato">@Model.name_product</span> !!</h1>
            <div class="form-confirm">
                <span class="form-no close-delete">No</span>
                <a class="form-yes" href="/Product/Delete?id=@Model.Product.Id&handler=Confirm">Yes</a>
            </div>
        </div>
    </div>
</div>