@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Epilogue:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    font-family: "Epilogue", sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background: #1e2021;
    background: #999;
}

image {
    object-fit: cover;
}

.product-list .swiper-slide {
    width: 25%;
}

a {
    color: #1e2021;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .product-list .swiper-slide {
        width: 50%;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .product-list .swiper-slide {
        width: 75%;
    }
}

.pagination {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
}

.pagination-link {
    padding: 10px;
}

.pagination-link.isActive {
    background-color: #1e2021;
    color: white;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}